@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "variables/index";

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: $txt-md;
  color: #000;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
li {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1300px;
  max-width: 1300px;
  margin: 0 auto;
  @media screen and(max-width: 1315px) {
    padding: 0 15px;
  }
}
