@import "../variables/index";

.about--main_content {
  display: flex;
  justify-content: space-between;
  padding-top: 112px;
  &_img {
    width: 40%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &_text {
    width: 50%;
    padding-bottom: 70px;
  }
}

.about--text_main {
  width: 90%;
  margin-left: auto;
  &_first {
    display: flex;
    align-items: center;
    span {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      width: 100%;
      display: block;
      margin-left: 8px;
    }
  }
  &_interior,
  &_architecure {
    margin: 0;
  }
}

.about--text_main_interior,
.about--text_main_architecture {
  margin: 0;
  font-size: 28px;
}

.about--text_main_architecture {
  margin-bottom: 24px;
}

.blind--text {
  font-size: 16px;
  color: #666666;
  .learn--more {
    color: #0033c7;
    cursor: pointer;
    border-bottom: 3px solid #0033c7;
    width: fit-content;
    margin-top: 18px;
  }
}

.blind--text_second {
  margin-top: 24px;
}
